In [35]:
import pandas as pd

In [36]:
df1 = pd.read_json("en_single_choice_test_2K.json", lines=True)
df2 = pd.read_json("en_single_choice_train_3K.json", lines=True)

In [37]:
df = pd.concat([df1, df2], ignore_index=True)
print(df.shape)
df.head()

(5000, 12)

,dataset_name,dataset_version,qid,queId,competition_source_list,difficulty,qtype,problem,answer_option_list,knowledge_point_routes,answer_analysis,answer_value
0,prime_math_competition_en_single_choice_8K_dev,2023-07-07,3,04c0b0b72d444057afcf885efb9473d7,[其它],4,single_choice,Compute the average angular acceleration and t...,"[[{'aoVal': 'A', 'content': 'a = 0.1 rad/s\tex...",[Overseas Competition->Knowledge Point->Number...,None,C
1,prime_math_competition_en_single_choice_8K_dev,2023-07-07,12,052ac178f4164a6cbd28c4ad644d6a34,[其它],4,single_choice,A 35 kg child ziplines from rest on a platform...,"[[{'aoVal': 'A', 'content': '$$350N$$ '}], [{'...",[Overseas Competition->Knowledge Point->Number...,None,B
2,prime_math_competition_en_single_choice_8K_dev,2023-07-07,14,014525d9deb6476abff3817cfdd10423,[其它],0,single_choice,The $$7$$-digit number $$\overline{123P688}$$ ...,"[[{'aoVal': 'A', 'content': '$$3$$ '}], [{'aoV...",[Overseas Competition->Knowledge Point->Number...,[$$N.A$$ ],E
3,prime_math_competition_en_single_choice_8K_dev,2023-07-07,18,0553053821bd4614aad7145eab4a8f0a,[],0,single_choice,What is the value of the digit $7$ in the numb...,"[[{'aoVal': 'A', 'content': 'seven hundred '}]...",[Overseas Competition->Knowledge Point->Number...,None,D
4,prime_math_competition_en_single_choice_8K_dev,2023-07-07,23,01e727da0e9149aa9b1c1fd33b6081ff,[其它],1,single_choice,George buys boxes of mangoes for $$$16$$ each ...,"[[{'aoVal': 'A', 'content': '$$9$$ '}], [{'aoV...",[Overseas Competition->Knowledge Point->Number...,[N/A ],B

In [38]:
df = df[['qid', 'difficulty', 'problem', 'answer_option_list', 'knowledge_point_routes', 'answer_value']]
df.head()

,qid,difficulty,problem,answer_option_list,knowledge_point_routes,answer_value
0,3,4,Compute the average angular acceleration and t...,"[[{'aoVal': 'A', 'content': 'a = 0.1 rad/s\tex...",[Overseas Competition->Knowledge Point->Number...,C
1,12,4,A 35 kg child ziplines from rest on a platform...,"[[{'aoVal': 'A', 'content': '$$350N$$ '}], [{'...",[Overseas Competition->Knowledge Point->Number...,B
2,14,0,The $$7$$-digit number $$\overline{123P688}$$ ...,"[[{'aoVal': 'A', 'content': '$$3$$ '}], [{'aoV...",[Overseas Competition->Knowledge Point->Number...,E
3,18,0,What is the value of the digit $7$ in the numb...,"[[{'aoVal': 'A', 'content': 'seven hundred '}]...",[Overseas Competition->Knowledge Point->Number...,D
4,23,1,George buys boxes of mangoes for $$$16$$ each ...,"[[{'aoVal': 'A', 'content': '$$9$$ '}], [{'aoV...",[Overseas Competition->Knowledge Point->Number...,B

In [39]:
def filter_tag(tag):
    # tag is a list, split each element and flatten the result
    if isinstance(tag, list):
        tags = []
        for t in tag:
            tags.extend(t.split("->"))
        # print(tags)
    else:
        tags = tag.split("->")
        # print(tags)

    return tags[-1] if tags else None

data = df.copy()
data['tag'] = data['knowledge_point_routes'].apply(filter_tag)
data.head()

df = data.drop(columns=['knowledge_point_routes'])
df.head()

,qid,difficulty,problem,answer_option_list,answer_value,tag
0,3,4,Compute the average angular acceleration and t...,"[[{'aoVal': 'A', 'content': 'a = 0.1 rad/s\tex...",C,Number Theory Modules
1,12,4,A 35 kg child ziplines from rest on a platform...,"[[{'aoVal': 'A', 'content': '$$350N$$ '}], [{'...",B,Number Theory Modules
2,14,0,The $$7$$-digit number $$\overline{123P688}$$ ...,"[[{'aoVal': 'A', 'content': '$$3$$ '}], [{'aoV...",E,Division without Remainders
3,18,0,What is the value of the digit $7$ in the numb...,"[[{'aoVal': 'A', 'content': 'seven hundred '}]...",D,Understanding Numbers and Digits
4,23,1,George buys boxes of mangoes for $$$16$$ each ...,"[[{'aoVal': 'A', 'content': '$$9$$ '}], [{'aoV...",B,Number Theory Modules

In [41]:
df.dropna(inplace=True)
df.isnull().sum()

qid                   0
difficulty            0
problem               0
answer_option_list    0
answer_value          0
tag                   0
dtype: int64

In [42]:
df.shape

(4999, 6)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4999 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   qid                 4999 non-null   int64
 1   difficulty          4999 non-null   int64
 2   problem             4999 non-null   object
 3   answer_option_list  4999 non-null   object
 4   answer_value        4999 non-null   object
 5   tag                 4999 non-null   object
dtypes: int64(2), object(4)
memory usage: 273.4+ KB

In [44]:
df.to_csv("questions.csv", index=False, encoding='utf-8-sig')